@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("Sections/header.css");
@import url("Sections/UserInput.css");
@import url("Sections/MathFlash.css");
@import url("Sections/flagFlash.css");
@import url("Sections/default.css");
@import url("Sections/animations.css");

:root {
  --color-creamson: #fff0de;
  --lapis-lazuli: rgba(38, 96, 164, 1);
  --azure-web: hsl(93, 84%, 75%);
  --sandy-brown: rgba(241, 153, 83, 1);
  --copper: rgba(196, 115, 53, 1);
  --caf-noir: rgba(86, 53, 30, 1);
  --crimson: hsla(352, 70%, 50%, 1);
  --pale-dogwood: hsl(253, 96%, 41%);
  --dodger-blue: hsla(203, 99%, 48%, 1);
  --oxford-blue: hsla(209, 70%, 13%, 1);
  --sky-blue: hsla(191, 61%, 63%, 1);
  --red_button: rgb(244, 75, 75);
  --button_color: var(--color-creamson);
  --panel_color: var(--dodger-blue);
  --primary-color: hsla(209, 70%, 13%, 1);
  --background-color: var(--lapis-lazuli);
  --font_size: 3.5rem;
  --z-fixed: 100;
  --header_height: 10vh;
  --option_gap: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  max-width: 1800px;
  min-width: 300px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--background-color);
  /* font-size: var(--font_size); */
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.math {
  display: flex;
  padding: 1vh;
  height: 90vh;
}

.flashcards {
  flex: 1;

  background: #fff;
  border-radius: 10px;
  border: 10px solid grey;

  cursor: pointer;
  font-weight: bold;

  text-align: center;
  transition: all 0.4s ease-in;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flashcards p {
  font-size: 29vmin;
}

.selected {
  border: 10px solid hsl(120, 67%, 49%);
  background-color: rgba(146, 245, 137, 0.89);
  color: #fff;
}

.choice.selected {
  border: 0.2rem solid hsl(120, 67%, 49%);
  background-color: rgba(146, 245, 137, 0.89);
  color: #fff;
}

.incorrect {
  border: 10px solid red;
  background-color: rgba(255, 92, 92, 0.89);
  color: #fff;
}

.choice.incorrect {
  border: 0.2rem solid red;
  background-color: rgba(255, 92, 92, 0.89);
  color: #fff;
}

button {
  align-self: stretch;
  min-height: 55px;
  height: 10vh;
  border-radius: 10px;

  color: var(--button_color);
  transition: all 0.15s ease-in;
  font-size: var(--font_size);
  background-color: var(--dodger-blue);

  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.info {
  display: flex;
  gap: 1vw;
  height: 10vh;
}

.info .stat {
  flex: 1;

  line-height: 10vh;
  background-color: var(--sky-blue);
  border-radius: 10px;
  height: 10vh;
  font-size: var(--font_size);
  font-weight: 600;

  text-align: center;
  justify-self: center;
}

.scores {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  color: #fff;
  gap: 1vh;
}

.scores .message {
  flex: 1;

  background-image: linear-gradient(
    to bottom right,
    rgb(248, 248, 157),
    hsla(60, 77%, 83%, 0.5)
  );

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.scores .message p {
  font-weight: 600;
  font-size: 14vh;
}

button.red:hover,
button.red:focus {
  border: 2px solid hsla(0, 97%, 33%, 1);
  background-color: hsla(0, 87%, 33%, 1);
}

button.red {
  border: 2px solid hsla(0, 97%, 43%, 1);
  background-color: hsla(0, 97%, 53%, 1);
}

button.green:hover,
button.green:focus {
  border: 2px solid hsla(130, 97%, 34%, 1);
  background-color: hsla(130, 87%, 34%, 1);
  /* color: #777; */
}

button.green {
  border: 2px solid hsla(130, 77%, 39%, 1);
  background-color: hsla(130, 77%, 49%, 1);
}

/* .button.green:enabled {
  animation: jump-shaking 0.83s;
} */
/* 
@media (max-width: 1300px) {
  :root {
    --font_size: 1.6rem;
    --option_gap: 20px;
  }
}

@media (max-width: 992px) {
  :root {
    --font_size: 1.4rem;
    --option_gap: 15px;
  }
}

@media (max-width: 540px) {
  :root {
    --font_size: 1.7rem;
    --option_gap: 10px;
  }
}*/

@media only screen and (orientation: landscape) {
  :root {
    --font_size: 2.8vw;
  }
}

@media only screen and (orientation: portrait) {
  :root {
    --font_size: 2.8vh;
  }
}

@media (min-width: 1100px) {
  :root {
    --font_size: 34px;
  }
}
