.jump {
  animation: jump-shaking 0.83s;
}

.shake {
  animation: horizontal-shaking 0.53s;
}

.button:disabled {
  border: 2px solid grey;
  background-color: #e0dede;
  color: grey;
}

.button:disabled:hover {
  border: 2px solid grey;
  background-color: #e0dede;
  color: grey;
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(8deg);
  }
  55% {
    transform: translateY(-9px) rotate(-8deg);
  }
  65% {
    transform: translateY(-9px) rotate(8deg);
  }
  75% {
    transform: translateY(-9px) rotate(-8deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  35% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  65% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
