.header {
  width: 100%;
  background: var(--primary-color);
  /* background-color: transparent; */
  border-radius: 0 0 10px 10px;
  font-size: var(--font_size);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: var(--header_height);
  padding: 1rem;
}

.nav__logo {
  transition: color 0.4s;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.nav__toggle,
.nav__close {
  flex: 0;
  color: #fff;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  padding-right: 10px;
}

.nav__link {
  flex: 1;
  color: #fff;
  transition: color 0.4s;
  /* font-size: calc(var(--font_size) - 1vmax); */
}

.nav__link:hover {
  color: var(--sky-blue);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

@media (max-width: 1150px) {
  .nav__menu {
    /* display: none; */
    right: -100%;
    position: fixed;
    top: 0;
    /* background-color: hsla(0, 0%, 6%, 0.2); */
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    min-width: 200px;
    width: 50vw;
    /* height: 50%; */
    padding: 3rem 3rem;
    transition: right 0.4s;
  }

  .show-menu {
    display: block;
    right: 0;
  }
}

@media (min-width: 1150px) {
  .nav {
    /* height: calc(var(--header-height) + 1rem); */
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}
