.mathsflash {
  flex: 1;
  margin-top: 10px;
  height: calc(90vh - 10px);

  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
}

.mathsflash .choices {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.mathsflash .choice {
  flex: 1;

  font-size: var(--font_size);
  font-weight: 600;
  background: #fff;
  line-height: 1rem;
  border: 0.5rem solid grey;
  color: black;
}
