.mathsflash {
  flex: 1;
  /* margin-top: 1vh; */
  height: calc(90vh - 2vh);

  display: flex;
  flex-direction: column;
  gap: 2vh;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1vh;
  align-content: stretch;
}

.mathsflash .choices {
  flex-shrink: 1;

  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.mathsflash .choice {
  flex: 1;
  font-weight: 780;
  font-size: 5dvh;
  background: #fff;
  border: 0.2rem solid grey;
  color: black;
}
